<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h4>Reset password</h4>
        <form>
          <div class="alert alert-danger" role="alert" *ngIf=passwordsNotMatch>
              Passwords doesn't match
          </div>
          <div class="form-floating form-group mt-2">
            <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username" [(ngModel)]="username">
            <label for="username">Enter your username</label>
          </div>
          <div class="form-floating form-group mt-2">
            <input type="password" class="form-control" id="pass" placeholder="Enter your current password" name="currentPassword" [(ngModel)]="currentPassword">
            <label for="username">Enter your current password</label>
          </div>
          <div class="form-floating form-group mt-2">
            <input type="password" class="form-control" id="new-pass" placeholder="Enter your new password" name="newPassword" [(ngModel)]="newPassword">
            <label for="password">Enter your new password</label>
          </div>
          <div class="form-floating form-group mt-2">
            <input type="password" class="form-control" id="new-pass-check" placeholder="Re-enter your new password" name="newPasswordCheck" [(ngModel)]="newPasswordCheck">
            <label for="password">Re-enter new password</label>
          </div>
          <div class="d-flex justify-content-between align-items-end mt-2">
            <button type="submit" class="btn btn-primary btn-block" (click)="onReset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  